.root {
	display: flex;
	flex-direction: column;
}
.item_wrapper {
	position: relative;
}

.item {
	position: relative;
}

.drag_handle {
	position: absolute;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
	opacity: 0;
	z-index: 10;
}

.item_wrapper:hover .drag_handle {
	opacity: 1;
}
